//Ambrygen Nextflow config file for running on AWS batch
params {
    config_profile_description = 'Ambrygen AWS Batch with Tower Profile'
    config_profile_contact = 'Vasanth Singan (@vsingan)'
    config_profile_url = 'https://www.ambrygen.com/'
}

timeline {
    overwrite = true
}
report {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}


process {
    executor = 'awsbatch'
    
    maxRetries = 2
    
    withName: 'UNZIP.*|UNTAR.*|TABIX.*|BUILD_INTERVALS|CREATE_INTERVALS_BED|CUSTOM_DUMPSOFTWAREVERSIONS|VCFTOOLS|BCFTOOLS.*|SAMTOOLS_INDEX' {
        cpus    = { check_max( 2 * task.attempt, 'cpus' ) }
        memory  = { check_max( 4.GB * task.attempt, 'memory' ) }
    }
}
